<!DOCTYPE html>
<html>
<head>
    <title>Yoink - {% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Yoink</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <!-- Add a condition to hide login and register buttons when the user is logged in -->
                {% if current_user.is_authenticated %}
                    <!-- You can also add a link to the user's profile here -->
                    <li><a href="{{ url_for('profile', user_id=current_user.id) }}">Profile</a></li>
                    <!-- Show the logout or profile button when the user is logged in -->
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <!-- Show the login and register buttons when the user is not logged in -->
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="content">
        {% if current_user.is_authenticated %}
            {% block content_authenticated %}{% endblock %}
        {% else %}
            {% block content_welcome %}{% endblock %}
        {% endif %}
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
